
* {
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  padding: 15px;

  .col-1 {width: 25%;}
.col-2 {width: 25%;}
.col-3 {width: 25%;}
.col-4 {width: 25%;}

}
.sidebar {
  width: 25%;
  float: left;
}
.main {
  width: 75%;
  float: left;
}

.header{
border: 3px solid red;
display: grid;
grid-template-columns: 33% 34% 33%;
grid-template-rows: 33% 34% 33%;
text-align: center;
font-size: 20pt;
padding:2pt;
margin: 1pt;
word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;
}
.footer{
border: 3px solid red;
display: grid;
grid-template-columns: subgrid;
grid-template-rows: subgrid;
text-align: center;
font-size: 20pt;
padding:2pt;
margin: 1pt;
word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;
}

.dropdown{
  border: 3px solid blue;
  display: grid;
  grid-column: 20% 20% 20% 20% 20%;
  grid-row: 20% 20% 20% 20% 20%;
  font-size: 16pt;
}

.sidebar {
  background: yellow;
     border: 3px solid green;
     grid-area: 2 / 1 / span 4 / span 3;
     grid-column: 1;
     grid-row: 2 / span 4;
     grid-template-columns: subgrid;
     height: 100vh;
     font-size: 16pt;
}
