/* Prevents Padding or borders from changing box size */
html { box-sizing: border-box; }
*,
*:before,
*:after { box-sizing: inherit; }
.row { position: relative; }
.row::after {
  content: "";
  display: block;
  clear: both;
}
/* Columns */
.col {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small Devices */
@media (min-width: 576px) {
  .sm-1 { width: 10%; }
  .sm-2 { width: 20%; }
  .sm-3 { width: 30%; }
  .sm-4 { width: 40%; }
  .sm-5 { width: 50%; }
  .sm-6 { width: 60%; }
  .sm-7 { width: 70%; }
  .sm-8 { width: 80%; }
  .sm-9 { width: 90%; }
  .sm-10 { width: 100%; }
}
/* Medium Devices */
@media (min-width: 768px) {
  .md-1 { width: 10%; }
  .md-2 { width: 20%; }
  .md-3 { width: 30%; }
  .md-4 { width: 40%; }
  .md-5 { width: 50%; }
  .md-6 { width: 60%; }
  .md-7 { width: 70%; }
  .md-8 { width: 80%; }
  .md-9 { width: 90%; }
  .md-10 { width: 100%; }
}
/* Large Devices */
@media (min-width: 992px) {
  .lg-1 { width: 10%; }
  .lg-2 { width: 20%; }
  .lg-3 { width: 30%; }
  .lg-4 { width: 40%; }
  .lg-5 { width: 50%; }
  .lg-6 { width: 60%; }
  .lg-7 { width: 70%; }
  .lg-8 { width: 80%; }
  .lg-9 { width: 90%; }
  .lg-10 { width: 100%; }
}

body {
    border: 3px solid red;
    display: grid;
    grid-template-areas: "header header header"
        "sidebar content content"
        "footer footer footer";
    grid-template-columns: 15% 20% 20% 20% 25%;
    grid-template-rows: 7% 20% 20% 20% 25%;
    height: 100vw;
    width: 100vw;
}



.header {
    background: orange;
    border: 3px solid blue;
    grid-column: 1 / span 5;
}

.sidebar {
    background: green;
    border: 3px solid green;
    grid-area: 2 / 1 / span 4 / span 3;
    grid-column: 1;
    grid-row: 2 / span 4;
    grid-template-columns: subgrid;
}

.footer {
    background: red;
    border: 1px solid red;
    grid-row: 6;
    grid-column: 1 / span 5;
}

.dropbtn {
    align-self: flex;
    background-color: #D3D3D3;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 16px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    position: absolute;
}

.dropdown-content {
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
    justify-content: center;
    min-width: 160px;
    position: relative;
}

.dropdown-content a {
    color: black;
    display: flex;
    padding: 12px 16px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
